* {
  
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://images.alphacoders.com/605/thumb-1920-605592.png');
  background-attachment: fixed;
  background-position: center;
}

h1, h3 {
  color: cyan;

}


.gameBoard {
  display: flex;
  width: 700px;
  height: 650px;
  /* border: 5px ridge yellow; */
  border-left: 5px ridge purple;
  border-top: 5px ridge yellow;
  border-right: 5px ridge yellow;
  border-bottom: 5px ridge purple;
  box-shadow: 10px 10px 8px #888888;
  background-image: url('https://c.tenor.com/Psk_hwm7eFUAAAAC/sasuke-uchiha-naruto.gif');
  background-size: 700px 650px;
  background-position: center;
}

#slot {
  width: 100px;
  height: 100px;
  background: white;
  border: 1px solid-black;
  border-radius: 50%;
  opacity: 0.5;
  background-image: url('https://media0.giphy.com/media/K9AnZe1fuZb68/200.gif');
  background-size: cover;
  background-position: center;

}





